extends layout

block content
  h1= title
  p Holding page for the Elocution Society Simulation
  ul
    li a(href='steele') Joshua Steele
    li a(href='fitzpatrick') Thaddeus Fitzpatrick
    li a(href='anderson') JW Anderson
