extends layout

block content
  h1= title
  p Holding page for the Elocution Society Simulation
  ul
    li: a(href='sonify/steele') Joshua Steele 
 
    li: a(href='sonify/fitzpatrick') Thaddeus Fitzpatrick

    li: a(href='sonify/garrick') David Garrick
