doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
  body
    ul
      li: p(id='playbtn', onmouseover='play()') Play
      li: p(id='volup') Volume Up
      li: p(id='voldown') Volume Down
      li: p(id='timeup') Time Up
      li: p(id='timedown') Time Down
    block content
