doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
  body
    ul(id='navbar')
      li(id='navigation'): a(href='/') Home
      li(id='navigation'): a(href='/') Sonifications
      li(id='navigation'): a(href='/compare') Comparison
      li(id='navigation'): a(href='/align')  Alignment
      li(id='navigation'): a(href='/pause')  Pauses
    block content
