extends layout

block content
  h1= title

  p(id='playbtn', onmouseover='play()') Play
  p(id='volup') Volume Up
  p(id='voldown') Volume Up
  p(id='timeup') Volume Up
  p(id='timedown') Volume Up

  img(src="./images/rationalis.png")

  script(src='/javascripts/note.js')
  script(src='/javascripts/object.js')
  script(src='/javascripts/audio.js')
